{
    "presets": ["next/babel"],
    "plugins": [
      [
        "babel-plugin-styled-components",
        {
          "ssr": true, // 서버사이드 렌더링 옵션
          "displayName": true,
          "preprocess": false
        }
      ]
    ]
  }